* {
    box-sizing: border-box;
    margin: 0;
}

h1, 
p,
span,
button {
    font-family: 'Epilogue', sans-serif;
    font-size: 20px;
}

p {
    color:hsl(0, 0%, 41%)
}

/* nav */
/* inline-block 여백 처리 해결 안 됨 */
.topMenus {
    display: flex;
    justify-content: space-between;
}

.nav {
    margin: 20px 30px 0 30px;
    display: flex;
    justify-content: space-between;
}

.img_logo {
    width: 80px;
    height: 25px;
    margin-right: 50px;
}

.banner1 {
    display: inline-block;
    font-size: 20px;
}

.banner2 {
    display: none;
}

.bannerinbanner {
    display: flex;
    justify-content: space-between;
    width: 1320px;
}

/* feature */

.featuresAll {
    margin-right: 60px;
}

.features {
    color: gray;
}

.features:hover {
    color: black;
    cursor:pointer
}

.featureList {
    list-style: none;
    padding: 0;
}

.featuresHover {
    position: relative;
    display: inline-block;
}

.featureList {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
}

.featureList li { 
    display: block;
    text-decoration: none;
    color: gray;
    padding: 12px 16px;
}

.featuresHover:hover .featureList {
    display: block;
}

/* company */

.company_icon_arrow_down {
    margin-right: 60px;
}

.company {
    color: gray;
}

.company:hover {
    color: black;
    cursor:pointer   
}

.companyList {
    list-style: none;
    padding: 0;
}

.companyList li {
    color: gray;
}

.companyAll {
    position: relative;
    display: inline-block;
    margin-right: 60px;
}

.companyList {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.companyList li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.companyAll:hover .companyList {
    display: block;
}
/* careers */

.careers {
    margin-right: 40px;
    color: gray;
}

.careers:hover {
    color: black;
    cursor:pointer
} 

.login {
    margin-right: 40px;
}

.about {
    color: gray;
}

.about:hover {
    color: black;
    cursor:pointer
}

/* login, register button */

.login_button {
    background: inherit; 
    border:none; 
    padding: 0;
    margin-right: 40px;
    color: gray;
    border-radius:0; 
    cursor:pointer
}

.login_button:hover {
    color: black;
    cursor:pointer
}

.register_button {
    width: 120px;
    height: 40px; 
    background: inherit; 
    color: gray;
    border-color: gray;
    border-radius: 15px;
    cursor:pointer
}

.register_button:hover {
    color: black;
    border-color: black;
    cursor:pointer
}


/* article */

.article {
    display: flex;
    justify-content: space-between;
    margin: 80px 150px 0;

}

.left_article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img_hero {
    height: 500px;
    width: 500px;
}

.left_article {
    margin-right: 130px;
}

.left_article_explanation {
    margin-top: 50px;
}

.left_article_explanation h1 {
    font-size: 90px;

}

.left_article_explanation p {
    margin-top: 30px;
    margin-right: 100px;
    line-height: 1.2em;
}

.learn_more_button {
    margin-top: 30px;
    width: 170px;
    height: 50px;
    background: black;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.client_svg {
    display: flex;
    justify-content: space-between;
    height: 25px;
    margin-right: 30px;
}

.learn_more_button:hover {
    background-color: white;
    color: black;
}

.imgMobile {
    display: none;
}

.iconMenu {
    display: none;
}

@media screen and (max-width: 375px) {

.nav {
    display: block;
}
.snapAndHamberger {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bannerinbanner {
    flex-direction: column;
    width: 250px;
}

.topMenus {
    flex-direction: column;
}


.imgDesktop {
        display: none;
}

.imgMobile {
        display: block;
}

.iconMenu {
    display: block;
    height: 20px;
    width: 35px;
    z-index: 401;
    transition: all 0.3 ease-in-out;
    cursor: pointer;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner1 {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    padding: 50px 20px;
    z-index: 400;
    box-sizing: border-box;
    transition: right 0.4s ease-in-out;
    background-color: #f0f0f0;
}

.banner1.on {
    right: 0;
}

.article {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}
.imgMobileHero {
    width: 100%;
}

.left_article {
    margin: 0;
}

.left_article_explanation {
    margin-top: 35px;
}

.left_article_explanation h1 {
    font-size: 35px;
}

.left_article_explanation p {
    font-size: 16px;
    line-height: 1.6em;
    margin: 20px 10px 0;
}

.learn_more_button {
    margin-top: 20px;
    font-size: 17px;
    width: 150px;
}

.client_svg {
    margin-left: 20px;
    margin-right: 20px;
    height: 15px;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}

.databiz {
    width: 70px;
    margin-right: 10px;
}

.audiophile {
    height: 25px;
    width: 60px;
    margin-right: 10px;
}

.meet {
    width: 60px;
    margin-right: 10px;
}

.maker {
    width: 60px;
}

}


